{% include 'auditorias/partials/_head.html' %}

<body>
    <div class="app-container">
        
        {% include 'auditorias/partials/_sidebar.html' %}

        <main class="main-content">
            
            {% include 'auditorias/partials/_header.html' %}

            <div class="content-area">
                
                {% include 'auditorias/partials/_messages.html' %}

                {% block content %}{% endblock %} 
            </div>
        </main>
    </div>

    {% include 'auditorias/partials/_scripts.html' %}

</body>
</html>